.pokemon {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgb(61, 61, 61);
}

.pokemon-image {
  width: 200px;
  height: 200px;
  margin-bottom: 30px;
}

.pokemon-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 300px;
  background-color: #fff;
  border: 2px solid #990000;
  border-radius: 10px;
  box-shadow: 24;
  padding: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokemon-modal-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-modal-main-title {
  font-size: 24px;
  font-weight: bold;
}

.pokemon-modal-main-wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}

.pokemon-modal-devider {
  border: 2px solid #990000;
  width: 90%;
}

.spinner {
  position: absolute;
  top: 50;
  left: 50;
}